body {
  font-family: 'Playfair Display', serif;
}

#section-one{
  background: red;
}

section.styl1
{
  color: green;
  font-weight: bold;
}

#section-one h1{
  color: white;
}

.section-title{
  color: #2ddf5c;
}

div > p{
  background: gray;
}
