* {
  box-sizing: border-box;

}
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

#section-one{
  background: red;
  padding: 10px;
  border: 5px blue solid;
  margin: 10px 10px 0px 10px;
  width: 512px;
  text-align: center;
}

section.styl1
{
  color: green;
  font-weight: bold;
}

#section-one h1{
  color: white;
}

.section-title{
  color: #2ddf5c;
  background: grey;
  padding: 10px;
  border: 2px red solid;
  margin: 0px 128px;
  width: 256px;
  text-align: center;
}

div > p{
  background: gray;
}

.main-header{
  width: 100%;
  background: #2ddf5c;
  padding: 10px 5px;
}

.main-header > div{
  display: inline-block;
  vertical-align: middle;
}

.main-nav{
  display: inline-block;
    text-align: right;
    width: calc(100% - 90px);
    vertical-align: middle;
}

.main-nav__item{
  display: inline-block;
}

.main-nav__items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-div__a{
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
