#section-one{
  background: linear-gradient(to top,rgba(80,68,18,0.6) 10%,transparent),
  url(https://images3.alphacoders.com/651/651258.jpg)
  left 10% top 6%/cover no-repeat border-box;
  margin-top: 3.4rem;
  height: 333px;
  width: 100%;
  position: relative;
}

#section-one h1{
  color: whitesmoke;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.section-title{
  color: #2ddf5c;
  margin: 0;
  padding: 0.6rem;
  text-align: center;
}

.gain-list{
  width: 90%;
  margin: auto;
  text-align: center;
}

.gain{
  background: #d0f4ce;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0.5rem;
  padding: 1rem;
  width: 18.75rem;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 2px 2px 2px rgba(0,0,0,0.5);
}

.gain--highlighted{
  background: #14b00b;
  color: white;
}

.gain__annotation{
  background: white;
  color: #14b00b;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 12rem;
  height: 2rem;
  padding: 5px 2px;
  display: inline-block;
}

.gain__title{
  color: #0e4f1f;
}

.gain_salary{
  color: #858585;
}

.gain--highlighted .gain__title{
  color: white;
}

.gain--highlighted .gain_salary{
  color: #0e4f1f;
}

.gain__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gain__feature{
  padding: 0.5rem 0;
}

#key-features{
  background: #ff1b68;
}

#key-features .section-title{
  color: whitesmoke;
  margin-top: 4rem;
  padding: 1rem;
}

.key-features__list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature{
  display: inline-block;
  width: 30%;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.key-feature__image{
    background: #ffcede;
    width: 8rem;
    height: 8rem;
    border: 2px solid darkgrey;
    border-radius: 50%;
    margin: 0 auto;

}

.key-feature__description{
  color: white;
  padding: 3rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
