.main-package{
  border: 5px solid #0c4422;
  border-left: 0px;
  margin: 6rem 0;
  width: 60%;
  position: relative;
  border-radius: 0 8px 8px 0;
}

.main-package__link{
  text-decoration: none;
  padding: 2rem;
  display: block;
}

#popular{
  background: rgba(136,255,153,0.95);
}

#free{
  background: rgba(208,244,206,0.95);
  float: right;
  border-right: 0;
  border-left: 5px solid #0c4422;
  text-align: right;
  border-radius: 8px 0 0 8px;
}

#free:hover{
  border-color: red;
}

#premium{
  background: rgba(12,68,34,0.95);
}

.main-package__title{
  color: black;
}

.main-package__subtitle{
  color: rgb(130,130,130);
}

.main-package__badge{
  position: absolute;
  top: 0;
  right: 1.1rem;
  color: rgba(12,68,34,0.95);
  background: whitesmoke;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 4px 4px rgb(188,188,188,0.5);
  font-size: 1.3rem;
}

#premium .main-package__title{
  color: white;
}

#premium .main-package__subtitle{
  color: rgb(188,188,188);
}

.main-package__h2{
  color: grey;
}

.main-package__description{
  border: 2px solid #0c4422;
  background: white;
  color: #0c4422;
  padding: 1rem;
}

.main-package:hover{
  box-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  border-color: red;
}
